$primary: black;

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  text-align: center;
  padding: 25px;
}

.logo {
  text-transform: uppercase;
  border: 3px $primary solid;
  display: inline-block;
  font-size: 30px;
  padding: 5px 15px;
  margin-bottom: 25px;
}

.navigation {
  border: 1px black solid;
  border-bottom: none;
  &__item {
    border-bottom: 1px black solid;
    padding: 10px 0;
  }
}