.header {
  padding: 25px 35px;
  background-color: #F8F8F8;
  overflow: hidden;
  .header__logo {
    text-transform: uppercase;
    border: 2px black solid;
    font-size: 25px;
    padding: 5px 15px;
    display: inline-block;
  }
  .header__container {
    max-width: 1080px;
    margin: 0 auto;
  }
}

.navigation {
  $border-color: #e6e6e6;
  display: none;
  margin-top: 20px;
  border: 1px $border-color solid;
  border-bottom: none;
  @include desktop {
    display: block;
    margin-top: 0;
    border: none;
    float: right;
  }
  .navigation__item {
    @include desktop {
      display: inline;
    }
  }
  .navigation__link {
    text-align:center;
    display: block;
    border-bottom: 1px $border-color solid;
    padding: 15px;
    transition: color .3s ease;
    &:hover {
      color: green;
    }
    @include desktop {
      border-bottom: none;
      padding: 0;
      display: inherit;
      line-height: 44px; // 50% of .header__logo's height
      padding-left: 15px;
    }
  }
}

.expanded {
  display: block;
}

.burger {
  float: right;
  line-height: 44px; // 50% of .header__logo's height
  // when the burger is "on", hide the menu group ("g"); show the "x" group only
    &[data-burger-state="on"] g[data-burger-face="menu"] {
      display: none;
    }
    // when the burger is "off", hide the "x" group ("g"); show the menu group only
    &[data-burger-state="off"] g[data-burger-face="x"] {
      display: none;
    }
  @include desktop {
    display: none;
  }

  .burger__icon {
    vertical-align: middle;
    $size: 32px;
    fill: black;
    cursor: pointer;
    width: $size;
    height: $size;

  }
}