.header {
  padding: 25px 35px;
  background-color: #F0F0F0;
  .header__logo {
    text-transform: uppercase;
    border: 2px black solid;
    font-size: 25px;
    padding: 5px 15px;
    display: inline;
  }
}

.navigation {
  $border-color: #e6e6e6;
  display: none;
  margin-top: 20px;
  border: 1px $border-color solid;
  border-bottom: none;
  .navigation__link {
    display: block;
    border-bottom: 1px $border-color solid;
    padding: 15px;
    transition: color .3s ease;
    &:hover {
      color: purple;
    }
  }
}

.burger {
  float: right;
  .burger__icon {
    $size: 32px;
    fill: black;
    cursor: pointer;
    width: $size;
    height: $size;
    // when the burger is "on", hide the menu group ("g"); show the "x" group only
    &[data-burger-state="on"] > g[data-burger-face="menu"] {
      display: none;
    }
    // when the burger is "off", hide the "x" group ("g"); show the menu group only
    &[data-burger-state="off"] > g[data-burger-face="x"] {
      display: none;
    }
  }
}