.header {
  text-align: center;
  padding: 25px; }

.logo {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border: 3px black solid;
  display: inline-block;
  font-size: 30px;
  padding: 5px 15px;
  margin: 0 auto; }
